<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field span12"
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field span12">
    <%= f.label :short_description %><br />
    <%= f.text_field :short_description %>
  </div>
  <div class="field span12">
    <%= f.label :large_description %><br />
    <%= f.text_area :large_description, :class => 'span8' %>
  </div>
  <div class="actions span12">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>


