<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Short description:</b>
  <%= @post.short_description %>
</p>

<p>
  <b>Large description:</b>
  <%= @post.large_description %>
</p>


<%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-primary' %> |
<%= link_to 'Back', posts_path, :class => 'btn btn-danger' %>
